@import '../../packages/shared-ui/styles/globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-y: scroll;
  }
  body {
    margin: 0;
  }
}

@layer utilities {
  .no-select {
    user-select: none;
    -webkit-user-select: none;
  }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
